<%= form_for @quiz, :html => { :class => "w3-container" }  do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, :class => 'w3-input' %><br>
    <%= f.label :code %><p>
  </div>
  <div class="field">
    <%= f.text_field :name, :class => 'w3-input' %><br>
    <%= f.label :name %><p>
  </div>
  <div class="field">
    <%= f.text_field :description, :class => 'w3-input' %><br>
    <%= f.label :description %><p>
  </div>
  <div class="field">
    <%= f.check_box :displaydescription, :class => 'w3-input' %><br>
    <%= f.label :displaydescription %><p>
  </div>
  <div class="field">
    <%= f.datetime_select :open, :class => 'w3-input' %><br>
    <%= f.label :open %><p>
  </div>
  <div class="field">
    <%= f.datetime_select :close, :class => 'w3-input' %><br>
    <%= f.label :close %><p>
  </div>
  <div class="field">
    <%= f.number_field :timelimit, :class => 'w3-input' %><br>
    <%= f.label :timelimit %><p>
  </div>
  <div class="field">
    <%= f.text_field :whentimeexpires, :class => 'w3-input' %><br>
    <%= f.label :whentimeexpires %><p>
  </div>
  <div class="field">
    <%= f.number_field :submissiongraceperiod, :class => 'w3-input' %><br>
    <%= f.label :submissiongraceperiod %><p>
  </div>
  <div class="field">
    <%= f.text_field :gradecategory, :class => 'w3-input' %><br>
    <%= f.label :gradecategory %><p>
  </div>
  <div class="field">
    <%= f.text_field :attemptsallowed, :class => 'w3-input' %><br>
    <%= f.label :attemptsallowed %><p>
  </div>
  <div class="field">
    <%= f.text_field :gradingmethod, :class => 'w3-input' %><br>
    <%= f.label :gradingmethod %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
