<%= form_for @salesforceuser, :html => { :class => "w3-container" }  do |f| %>
  <% if @salesforceuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesforceuser.errors.count, "error") %> prohibited this salesforceuser from being saved:</h2>

      <ul>
      <% @salesforceuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :class => 'w3-input' %><br>
    <%= f.label :name %><p>
  </div>
  <div class="field">
    <%= f.text_field :alias, :class => 'w3-input' %><br>
    <%= f.label :alias %><p>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => 'w3-input' %><br>
    <%= f.label :email %><p>
  </div>
  <div class="field">
    <%= f.text_field :username, :class => 'w3-input' %><br>
    <%= f.label :username %><p>
  </div>
  <div class="field">
    <%= f.text_field :communitynickname, :class => 'w3-input' %><br>
    <%= f.label :communitynickname %><p>
  </div>
  <div class="field">
    <%= f.text_field :title, :class => 'w3-input' %><br>
    <%= f.label :title %><p>
  </div>
  <div class="field">
    <%= f.text_field :company, :class => 'w3-input' %><br>
    <%= f.label :company %><p>
  </div>
  <div class="field">
    <%= f.text_field :department, :class => 'w3-input' %><br>
    <%= f.label :department %><p>
  </div>
  <div class="field">
    <%= f.text_field :division, :class => 'w3-input' %><br>
    <%= f.label :division %><p>
  </div>
  <div class="field">
    <%= f.text_field :address, :class => 'w3-input' %><br>
    <%= f.label :address %><p>
  </div>
  <div class="field">
    <%= f.text_field :timezone, :class => 'w3-input' %><br>
    <%= f.label :timezone %><p>
  </div>
  <div class="field">
    <%= f.text_field :locale, :class => 'w3-input' %><br>
    <%= f.label :locale %><p>
  </div>
  <div class="field">
    <%= f.text_field :language, :class => 'w3-input' %><br>
    <%= f.label :language %><p>
  </div>
  <div class="field">
    <%= f.text_field :delegatedapprover, :class => 'w3-input' %><br>
    <%= f.label :delegatedapprover %><p>
  </div>
  <div class="field">
    <%= f.text_field :manager, :class => 'w3-input' %><br>
    <%= f.label :manager %><p>
  </div>
  <div class="field">
    <%= f.text_field :role, :class => 'w3-input' %><br>
    <%= f.label :role %><p>
  </div>
  <div class="field">
    <%= f.text_field :userlicense, :class => 'w3-input' %><br>
    <%= f.label :userlicense %><p>
  </div>
  <div class="field">
    <%= f.text_field :profile, :class => 'w3-input' %><br>
    <%= f.label :profile %><p>
  </div>
  <div class="field">
    <%= f.check_box :active, :class => 'w3-input' %><br>
    <%= f.label :active %><p>
  </div>
  <div class="field">
    <%= f.check_box :marketinguser, :class => 'w3-input' %><br>
    <%= f.label :marketinguser %><p>
  </div>
  <div class="field">
    <%= f.check_box :offlineuser, :class => 'w3-input' %><br>
    <%= f.label :offlineuser %><p>
  </div>
  <div class="field">
    <%= f.check_box :knowledgeuser, :class => 'w3-input' %><br>
    <%= f.label :knowledgeuser %><p>
  </div>
  <div class="field">
    <%= f.check_box :forcecomflowuser, :class => 'w3-input' %><br>
    <%= f.label :forcecomflowuser %><p>
  </div>
  <div class="field">
    <%= f.check_box :serviceclouduser, :class => 'w3-input' %><br>
    <%= f.label :serviceclouduser %><p>
  </div>
  <div class="field">
    <%= f.check_box :sitecomcontributoruser, :class => 'w3-input' %><br>
    <%= f.label :sitecomcontributoruser %><p>
  </div>
  <div class="field">
    <%= f.check_box :sitecompublisheruser, :class => 'w3-input' %><br>
    <%= f.label :sitecompublisheruser %><p>
  </div>
  <div class="field">
    <%= f.check_box :mobileuser, :class => 'w3-input' %><br>
    <%= f.label :mobileuser %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
