<%= form_for @lead, :html => { :class => "w3-container" }  do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, :class => 'w3-input' %><br>
    <%= f.label :code %><p>
  </div>
  <div class="field">
    <%= f.text_field :owner, :class => 'w3-input' %><br>
    <%= f.label :owner %><p>
  </div>
  <div class="field">
    <%= f.text_field :firstname, :class => 'w3-input' %><br>
    <%= f.label :firstname %><p>
  </div>
  <div class="field">
    <%= f.text_field :lastname, :class => 'w3-input' %><br>
    <%= f.label :lastname %><p>
  </div>
  <div class="field">
    <%= f.text_field :company, :class => 'w3-input' %><br>
    <%= f.label :company %><p>
  </div>
  <div class="field">
    <%= f.text_field :title, :class => 'w3-input' %><br>
    <%= f.label :title %><p>
  </div>
  <div class="field">
    <%= f.text_field :status, :class => 'w3-input' %><br>
    <%= f.label :status %><p>
  </div>
  <div class="field">
    <%= f.text_field :phone, :class => 'w3-input' %><br>
    <%= f.label :phone %><p>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => 'w3-input' %><br>
    <%= f.label :email %><p>
  </div>
  <div class="field">
    <%= f.text_field :street, :class => 'w3-input' %><br>
    <%= f.label :street %><p>
  </div>
  <div class="field">
    <%= f.text_field :city, :class => 'w3-input' %><br>
    <%= f.label :city %><p>
  </div>
  <div class="field">
    <%= f.text_field :state, :class => 'w3-input' %><br>
    <%= f.label :state %><p>
  </div>
  <div class="field">
    <%= f.text_field :zipcode, :class => 'w3-input' %><br>
    <%= f.label :zipcode %><p>
  </div>
  <div class="field">
    <%= f.text_field :county, :class => 'w3-input' %><br>
    <%= f.label :county %><p>
  </div>
  <div class="field">
    <%= f.text_field :website, :class => 'w3-input' %><br>
    <%= f.label :website %><p>
  </div>
  <div class="field">
    <%= f.number_field :numberofemployees, :class => 'w3-input' %><br>
    <%= f.label :numberofemployees %><p>
  </div>
  <div class="field">
    <%= f.number_field :annualrevenue, :class => 'w3-input' %><br>
    <%= f.label :annualrevenue %><p>
  </div>
  <div class="field">
    <%= f.text_field :source, :class => 'w3-input' %><br>
    <%= f.label :source %><p>
  </div>
  <div class="field">
    <%= f.text_field :industry, :class => 'w3-input' %><br>
    <%= f.label :industry %><p>
  </div>
  <div class="field">
    <%= f.text_field :description, :class => 'w3-input' %><br>
    <%= f.label :description %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
