<%= form_for @project, :html => { :class => "w3-container" }  do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :class => 'w3-input' %><br>
    <%= f.label :name %><p>
  </div>
  <div class="field">
    <%= f.text_field :description, :class => 'w3-input' %><br>
    <%= f.label :description %><p>
  </div>
  <div class="field">
    <%= f.text_field :identifier, :class => 'w3-input' %><br>
    <%= f.label :identifier %><p>
  </div>
  <div class="field">
    <%= f.text_field :homepage, :class => 'w3-input' %><br>
    <%= f.label :homepage %><p>
  </div>
  <div class="field">
    <%= f.check_box :public, :class => 'w3-input' %><br>
    <%= f.label :public %><p>
  </div>
  <div class="field">
    <%= f.text_field :subprojectof, :class => 'w3-input' %><br>
    <%= f.label :subprojectof %><p>
  </div>
  <div class="field">
    <%= f.check_box :bugtracker, :class => 'w3-input' %><br>
    <%= f.label :bugtracker %><p>
  </div>
  <div class="field">
    <%= f.check_box :featuretracker, :class => 'w3-input' %><br>
    <%= f.label :featuretracker %><p>
  </div>
  <div class="field">
    <%= f.check_box :supporttracker, :class => 'w3-input' %><br>
    <%= f.label :supporttracker %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
