<%= form_for @bugzillauser, :html => { :class => "w3-container" }  do |f| %>
  <% if @bugzillauser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugzillauser.errors.count, "error") %> prohibited this bugzillauser from being saved:</h2>

      <ul>
      <% @bugzillauser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :loginname, :class => 'w3-input' %><br>
    <%= f.label :loginname %><p>
  </div>
  <div class="field">
    <%= f.text_field :realname, :class => 'w3-input' %><br>
    <%= f.label :realname %><p>
  </div>
  <div class="field">
    <%= f.text_field :password, :class => 'w3-input' %><br>
    <%= f.label :password %><p>
  </div>
  <div class="field">
    <%= f.check_box :bugmaildisabled, :class => 'w3-input' %><br>
    <%= f.label :bugmaildisabled %><p>
  </div>
  <div class="field">
    <%= f.text_field :disabletext, :class => 'w3-input' %><br>
    <%= f.label :disabletext %><p>
  </div>
  <div class="field">
    <%= f.check_box :adminpermission, :class => 'w3-input' %><br>
    <%= f.label :adminpermission %><p>
  </div>
  <div class="field">
    <%= f.check_box :creategroupspermission, :class => 'w3-input' %><br>
    <%= f.label :creategroupspermission %><p>
  </div>
  <div class="field">
    <%= f.check_box :edituserspermission, :class => 'w3-input' %><br>
    <%= f.label :edituserspermission %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
