<%= form_for @bug, :html => { :class => "w3-container" }  do |f| %>
  <% if @bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% @bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, :class => 'w3-input' %><br>
    <%= f.label :code %><p>
  </div>
  <div class="field">
    <%= f.text_field :product, :class => 'w3-input' %><br>
    <%= f.label :product %><p>
  </div>
  <div class="field">
    <%= f.text_field :component, :class => 'w3-input' %><br>
    <%= f.label :component %><p>
  </div>
  <div class="field">
    <%= f.text_field :version, :class => 'w3-input' %><br>
    <%= f.label :version %><p>
  </div>
  <div class="field">
    <%= f.text_field :summary, :class => 'w3-input' %><br>
    <%= f.label :summary %><p>
  </div>
  <div class="field">
    <%= f.text_field :description, :class => 'w3-input' %><br>
    <%= f.label :description %><p>
  </div>
  <div class="field">
    <%= f.text_field :hardware, :class => 'w3-input' %><br>
    <%= f.label :hardware %><p>
  </div>
  <div class="field">
    <%= f.number_field :importance, :class => 'w3-input' %><br>
    <%= f.label :importance %><p>
  </div>
  <div class="field">
    <%= f.text_field :targetmilestone, :class => 'w3-input' %><br>
    <%= f.label :targetmilestone %><p>
  </div>
  <div class="field">
    <%= f.text_field :assignedto, :class => 'w3-input' %><br>
    <%= f.label :assignedto %><p>
  </div>
  <div class="field">
    <%= f.text_field :qacontact, :class => 'w3-input' %><br>
    <%= f.label :qacontact %><p>
  </div>
  <div class="field">
    <%= f.text_field :url, :class => 'w3-input' %><br>
    <%= f.label :url %><p>
  </div>
  <div class="field">
    <%= f.text_field :whiteboard, :class => 'w3-input' %><br>
    <%= f.label :whiteboard %><p>
  </div>
  <div class="field">
    <%= f.text_field :keywords, :class => 'w3-input' %><br>
    <%= f.label :keywords %><p>
  </div>
  <div class="field">
    <%= f.text_field :tags, :class => 'w3-input' %><br>
    <%= f.label :tags %><p>
  </div>
  <div class="field">
    <%= f.text_field :dependson, :class => 'w3-input' %><br>
    <%= f.label :dependson %><p>
  </div>
  <div class="field">
    <%= f.text_field :blocks, :class => 'w3-input' %><br>
    <%= f.label :blocks %><p>
  </div>
  <div class="field">
    <%= f.text_field :origestimated, :class => 'w3-input' %><br>
    <%= f.label :origestimated %><p>
  </div>
  <div class="field">
    <%= f.text_field :hoursworked, :class => 'w3-input' %><br>
    <%= f.label :hoursworked %><p>
  </div>
  <div class="field">
    <%= f.text_field :hoursleft, :class => 'w3-input' %><br>
    <%= f.label :hoursleft %><p>
  </div>
  <div class="field">
    <%= f.date_select :deadline, :class => 'w3-input' %><br>
    <%= f.label :deadline %><p>
  </div>
  <div class="field">
    <%= f.text_field :additionalcomments, :class => 'w3-input' %><br>
    <%= f.label :additionalcomments %><p>
  </div>
  <div class="field">
    <%= f.text_field :status, :class => 'w3-input' %><br>
    <%= f.label :status %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
