<%= form_for @product, :html => { :class => "w3-container" }  do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :code, :class => 'w3-input' %><br>
    <%= f.label :code %><p>
  </div>
  <div class="field">
    <%= f.text_field :name, :class => 'w3-input' %><br>
    <%= f.label :name %><p>
  </div>
  <div class="field">
    <%= f.text_field :model, :class => 'w3-input' %><br>
    <%= f.label :model %><p>
  </div>
  <div class="field">
    <%= f.text_field :sku, :class => 'w3-input' %><br>
    <%= f.label :sku %><p>
  </div>
  <div class="field">
    <%= f.text_field :weight, :class => 'w3-input' %><br>
    <%= f.label :weight %><p>
  </div>
  <div class="field">
    <%= f.text_field :manufacturer, :class => 'w3-input' %><br>
    <%= f.label :manufacturer %><p>
  </div>
  <div class="field">
    <%= f.text_field :status, :class => 'w3-input' %><br>
    <%= f.label :status %><p>
  </div>
  <div class="field">
    <%= f.text_field :taxclass, :class => 'w3-input' %><br>
    <%= f.label :taxclass %><p>
  </div>
  <div class="field">
    <%= f.text_field :urlkey, :class => 'w3-input' %><br>
    <%= f.label :urlkey %><p>
  </div>
  <div class="field">
    <%= f.text_field :visibility, :class => 'w3-input' %><br>
    <%= f.label :visibility %><p>
  </div>
  <div class="field">
    <%= f.date_select :setproductasnewfromdate, :class => 'w3-input' %><br>
    <%= f.label :setproductasnewfromdate %><p>
  </div>
  <div class="field">
    <%= f.date_select :setproductasnewtodate, :class => 'w3-input' %><br>
    <%= f.label :setproductasnewtodate %><p>
  </div>
  <div class="field">
    <%= f.text_field :countryofmanufacture, :class => 'w3-input' %><br>
    <%= f.label :countryofmanufacture %><p>
  </div>
  <div class="field">
    <%= f.text_field :price, :class => 'w3-input' %><br>
    <%= f.label :price %><p>
  </div>
  <div class="field">
    <%= f.text_field :cost, :class => 'w3-input' %><br>
    <%= f.label :cost %><p>
  </div>
  <div class="field">
    <%= f.text_field :specialprice, :class => 'w3-input' %><br>
    <%= f.label :specialprice %><p>
  </div>
  <div class="field">
    <%= f.date_select :specialpricefromdate, :class => 'w3-input' %><br>
    <%= f.label :specialpricefromdate %><p>
  </div>
  <div class="field">
    <%= f.date_select :specialpricetodate, :class => 'w3-input' %><br>
    <%= f.label :specialpricetodate %><p>
  </div>
  <div class="field">
    <%= f.text_field :applymap, :class => 'w3-input' %><br>
    <%= f.label :applymap %><p>
  </div>
  <div class="field">
    <%= f.text_field :displayactualprice, :class => 'w3-input' %><br>
    <%= f.label :displayactualprice %><p>
  </div>
  <div class="field">
    <%= f.text_field :suggestedretailprice, :class => 'w3-input' %><br>
    <%= f.label :suggestedretailprice %><p>
  </div>
  <div class="field">
    <%= f.text_field :metatitle, :class => 'w3-input' %><br>
    <%= f.label :metatitle %><p>
  </div>
  <div class="field">
    <%= f.text_field :metakeywords, :class => 'w3-input' %><br>
    <%= f.label :metakeywords %><p>
  </div>
  <div class="field">
    <%= f.text_field :metadescription, :class => 'w3-input' %><br>
    <%= f.label :metadescription %><p>
  </div>
  <div class="field">
    <%= f.text_field :shortdescription, :class => 'w3-input' %><br>
    <%= f.label :shortdescription %><p>
  </div>
  <div class="field">
    <%= f.text_field :description, :class => 'w3-input' %><br>
    <%= f.label :description %><p>
  </div>
  <div class="field">
    <%= f.text_field :indepth, :class => 'w3-input' %><br>
    <%= f.label :indepth %><p>
  </div>
  <div class="field">
    <%= f.text_field :dimensions, :class => 'w3-input' %><br>
    <%= f.label :dimensions %><p>
  </div>
  <div class="field">
    <%= f.text_field :activationinformation, :class => 'w3-input' %><br>
    <%= f.label :activationinformation %><p>
  </div>
  <div class="field">
    <%= f.text_field :color, :class => 'w3-input' %><br>
    <%= f.label :color %><p>
  </div>
  <div class="field">
    <%= f.text_field :customdesign, :class => 'w3-input' %><br>
    <%= f.label :customdesign %><p>
  </div>
  <div class="field">
    <%= f.date_select :activefrom, :class => 'w3-input' %><br>
    <%= f.label :activefrom %><p>
  </div>
  <div class="field">
    <%= f.date_select :activeto, :class => 'w3-input' %><br>
    <%= f.label :activeto %><p>
  </div>
  <div class="field">
    <%= f.text_field :customlayoutupdate, :class => 'w3-input' %><br>
    <%= f.label :customlayoutupdate %><p>
  </div>
  <div class="field">
    <%= f.text_field :displayproductoptionsin, :class => 'w3-input' %><br>
    <%= f.label :displayproductoptionsin %><p>
  </div>
  <div class="field">
    <%= f.text_field :pagelayout, :class => 'w3-input' %><br>
    <%= f.label :pagelayout %><p>
  </div>
  <div class="field">
    <%= f.check_box :enablerecurringprofile, :class => 'w3-input' %><br>
    <%= f.label :enablerecurringprofile %><p>
  </div>
  <div class="field">
    <%= f.check_box :allowgiftmessage, :class => 'w3-input' %><br>
    <%= f.label :allowgiftmessage %><p>
  </div>
  <div class="field">
    <%= f.check_box :managestock, :class => 'w3-input' %><br>
    <%= f.label :managestock %><p>
  </div>
  <div class="field">
    <%= f.text_field :qty, :class => 'w3-input' %><br>
    <%= f.label :qty %><p>
  </div>
  <div class="field">
    <%= f.text_field :qtyforitemsstatustobecomeoutofstock, :class => 'w3-input' %><br>
    <%= f.label :qtyforitemsstatustobecomeoutofstock %><p>
  </div>
  <div class="field">
    <%= f.text_field :minimumqtyallowedinshoppingcart, :class => 'w3-input' %><br>
    <%= f.label :minimumqtyallowedinshoppingcart %><p>
  </div>
  <div class="field">
    <%= f.text_field :maximumqtyallowedinshoppingcart, :class => 'w3-input' %><br>
    <%= f.label :maximumqtyallowedinshoppingcart %><p>
  </div>
  <div class="field">
    <%= f.check_box :qtyusesdecimals, :class => 'w3-input' %><br>
    <%= f.label :qtyusesdecimals %><p>
  </div>
  <div class="field">
    <%= f.text_field :backorders, :class => 'w3-input' %><br>
    <%= f.label :backorders %><p>
  </div>
  <div class="field">
    <%= f.text_field :notifyforquantitybelow, :class => 'w3-input' %><br>
    <%= f.label :notifyforquantitybelow %><p>
  </div>
  <div class="field">
    <%= f.check_box :enableqtyincrements, :class => 'w3-input' %><br>
    <%= f.label :enableqtyincrements %><p>
  </div>
  <div class="field">
    <%= f.check_box :stockavailability, :class => 'w3-input' %><br>
    <%= f.label :stockavailability %><p>
  </div>
  <div class="field">
    <%= f.text_field :tags, :class => 'w3-input' %><br>
    <%= f.label :tags %><p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
